li h2 {
    margin-bottom: 0.3rem;
}

li p {
    margin-bottom: 0.6rem;
}

li::after {
    content: "";
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--text-main);
}

@media only screen and (max-width: 480px) {
    
    li::after{
        display: none;
    }
    
    li {
        margin-bottom: 2.4rem;
    }
}