header {
    display: flex;
    justify-content: center;
    background-color: var(--theme-secondary);
    padding: 1rem;
    width: 100%;
}

header div {
    display: flex;
    align-items: center;
    max-width: var(--res-xl);
    width: 100%;
}

header div h3 {
    margin: auto;
}

@media only screen and (max-width: 320px) {
    header div {
        justify-content: center;
    }
    header div h3 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    header div h3 {
        display: none;
    }
}